* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: white;
}
.header {
    display: flex;
    width: 100%;
    background-color: #d0e41c;
    background: linear-gradient(to left, #eeff00, #b9cc0c);
    align-items: center;
}
.text-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    
}
.text-section h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 60px;
    font-weight: bold;
    color: black;
    display: inline-block;
    position: relative;
    text-shadow: 7px 7px 0px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    text-align: center;
}

.text-section h1::after {
    content: "";
    display: block;
    width: 80%;
    height: 3px; 
    background-color: black;
    position: absolute;
    bottom: -10px;
    left: 0;
    animation: glitch 1s infinite alternate;
}

@keyframes glitch {
    0% { transform: translateX(0px); }
    100% { transform: translateX(3px); }
}
.text-section p {
    max-width: 700px;
    font-size: 1.2em;
    line-height: 1.5;
    margin: 0 auto; 
    text-align: justify;
}

.highlighted {
    color: rgb(48, 70, 10);
    font-weight: bold;
}

.social-icons {
    margin-top: 20px;  
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 15px; 
}

.social-icons a {
    font-size: 2.5em; 
    color: black; 
    transition: 0.3s;
}

.social-icons a:hover {
    color: rgb(11, 22, 11); 
}

.image-section {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-section img {
    max-width: 100%;
    height: auto;
    display: block;
    filter: drop-shadow(10px 0px 0px rgba(0, 0, 0, 0.3));
}
.layout-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr; 
    gap: 20px;
    padding: 20px;
    align-items: start;
}
.works-section h2 {
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-align: center;
}

.works-section {
    background-color: black;
    padding: 50px;
    height: 600px; 
    border-radius: 10px;
}

.work-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
    height: 100%;
    align-content: center;
}

.work-box {
    background-color: #d0e41c;
    height: 200px;
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work-box h3 {
    font-family: 'Press Start 2P', cursive;
}

.work-icon {
    font-size: 2em; 
    margin-bottom: 10px; 
}

.work-box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.2);
}

.contact-section {
    background: #f8f8f8;
    text-align: left;
    padding: 30px;
    line-height: 1.6;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.contact-section p{
    font-size: 18px;
    padding: 3%;
}

.contact-section h2 {
    font-size: 1.3em;
    font-family: 'Press Start 2P', cursive;
    color: black;
}

.contact-details {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}

.contact-details p {
    margin: 5px 0; 
    padding: 0; 
    display: flex;
    justify-content: start;
    gap: 3px; 
    line-height: 1.2; 
}

.contact-details i {
    font-size: 1.2em;
    color: black; 
    margin-right: 15px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 18px;
}

.contact-form button {
    background-color: #d0e41c;
    color: #000;
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    font-size: 15px;
    border: none;
    padding: 15px 0;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.contact-form button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }
    .text-section, .image-section {
        max-width: 100%;
        padding: 20px;
    }
    .layout-container {
        grid-template-columns: 1fr;
    }
}